<div class="card">
  <div class="card-header">
     <%=  teacher_comment.student.username %>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p><%= teacher_comment.comment %></p>
      <footer>Submitted <cite title="Source Title"><%= time_ago_in_words(teacher_comment.created_at) %></cite> ago</footer>
    </blockquote>
  </div>
</div>
