<div class="form-wrapper">
  <h1 style="color:grey;">Forgot Password? NO PROBLEM'o</h1><br><br>
  <%= form_tag '/reset_password', method: :post do %>
    <div class="form-group">
      <%= text_field_tag :email, "", class: "form-control", placeholder: "Email" %>
    </div>
    <br>
    <%= submit_tag "Submit", class: "button button_highlight" %>

  <% end %>
  <br><br><br><br><br><br><br><br><br>
</div>
