/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= home_styles
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
    font-family: "PT Sans";
}


.form-wrapper{
    padding: 10% 30%;
}

.flashes{
    padding: 1%;
    text-align: center;
    color: #3f3d4e;
}
.alert{

  margin: 0;
}
.showteacher{
    padding: 10rem;
    margin-bottom: 17rem;
}

.form-wrapper2{
    padding: 10%;
    padding-bottom: 21%;
    margin: auto 20%;
}

.card-image-custom{
  width:100%;
}


.modal{
 position: fixed;
}

.modal-content{
  position: fixed;
  width: 100%;
}


#main-footer {
    padding: 1rem 0;
    padding-top: 2rem;
    background: black;
    opacity: 0.5;
}

.inner-form{
  padding: 10%;
  background: white;
  border-radius: 2%;
  color: #000;
  padding-bottom: 20%;
}

.inner-form-no-bg{
  padding: 10%;
  background: none;
  color: white;
}

.order-show{
  background-image: image-url("crowd.jpg");
  background-size: cover;;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  padding: 0 10%;
}

.inner-form-inverse {
  padding: 10%;
  background: #7ac483;
  opacity: 0.8;
  border-radius: 2%;
  color: black;
  a{
    color: black;
  }
}


hr{
  padding-top: 0;
  margin-top: 0;
}

.order-edit-show{
  margin: 0;
  padding: 0 30%;
  background: image-url("login.jpg");
  color: #428bca;
}

.wide-container{
  margin: auto 3%;
}

.red-star{
  color: red;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: inline;
}

@media (max-width: 500px){
  .form-wrapper{
    padding: 0;
    background: #7ac483;
  }
  .inner-form-no-bg{
    margin: 0;
    background: #7ac483;
  }

  .inner-form{
    padding-top: 50%;
    background: #7ac483;
  }
  nav::before{
    content: " ";
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 7%;
  }
  .form-wrapper2{
    margin: 0;
    background: #7ac483;
  }

  .order-edit-show{
    padding: 0;
  }

  #main-footer{
    background: white;
    h3,p, a {color: black;}
  }

  .order-show{
    background: #7ac483;
  }

  .button_highlight{
    background: white;
    color: black;
  }

}
